<html>
  <head>
    <title>About Page</title>
       <link rel="stylesheet" href="main.css">
    <body>
      <h1>About</h1>
      <%= link_to 'Home', pages_home_path %>
<div class="para1">
<p> Tourism sites in the central Henan and Hunan provinces have been constructing vertigo-inducing skywalks in a bid to attract visitors.One of them is student Li Shu Zhen, 19, from Hangzhou city.Tourism sites in the central Henan and Hunan provinces have been constructing vertigo-inducing skywalks in a bid to attract visitors.One of them is student Li Shu Zhen, 19, from Hangzhou city. Tourism sites in the central Henan and Hunan provinces have been constructing vertigo-inducing skywalks in a bid to attract visitors.One of them is student Li Shu Zhen, 19, from Hangzhou city.Tourism sites in the central Henan and Hunan provinces have been constructing vertigo-inducing skywalks in a bid to attract visitors.One of them is student Li Shu Zhen, 19, from Hangzhou city.

<p> Tourism sites in the central Henan and Hunan provinces have been constructing vertigo-inducing skywalks in a bid to attract visitors.One of them is student Li Shu Zhen, 19, from Hangzhou city.Tourism sites in the central Henan and Hunan provinces have been constructing vertigo-inducing skywalks in a bid to attract visitors.One of them is student Li Shu Zhen, 19, from Hangzhou city.Tourism sites in the central Henan and Hunan provinces have been constructing vertigo-inducing skywalks in a bid to attract visitors.One of them is student Li Shu Zhen, 19, from Hangzhou city.

<p> Tourism sites in the central Henan and Hunan provinces have been constructing vertigo-inducing skywalks in a bid to attract visitors.One of them is student Li Shu Zhen, 19, from Hangzhou city.Tourism sites in the central Henan and Hunan provinces have been constructing vertigo-inducing skywalks in a bid to attract visitors.One of them is student Li Shu Zhen, 19, from Hangzhou city.

</div>
    </body>
  </head>
</html>
