<html>
  <head>
    <title>Welcome to my Rails Development</title>
       <link rel="stylesheet" href="main.css">
    <body>
      <h1>Welcome To My Rails Development</h1>
      <%= link_to 'About', pages_about_path %>

      <!-- <img src="IMG_0742.JPG" alt="background"> -->
      <%= image_tag 'IMG_0742.JPG' %>


<div class="wrap">
    <div class="floatleft">
<p> Tourism sites in the central Henan and Hunan provinces have been constructing vertigo-inducing skywalks in a bid to attract visitors.One of them is student Li Shu Zhen, 19, from Hangzhou city.
 </p>
</div>
   <div class="floatcenter">
<p> Tourism sites in the central Henan and Hunan provinces have been constructing vertigo-inducing skywalks in a bid to attract visitors.One of them is student Li Shu Zhen, 19, from Hangzhou city.
 </p>
</div>
    <div class="floatright">
<p> Tourism sites in the central Henan and Hunan provinces have been constructing vertigo-inducing skywalks in a bid to attract visitors.One of them is student Li Shu Zhen, 19, from Hangzhou city.
 </p>
</div>
</div>
    </body>
  </head>
</html>

